*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  position:sticky;
   top: 0px;
  max-width: 1400px;
  height: 90px;
  box-shadow: 0 3px 0px rgba(154, 145, 145, 0.14);
 }

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  max-width: 1200px;
  height: 100%;
 position: relative;

}

li{ 
list-style: none;
}

ul{
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.logo{
  width: 60px;
  height: 60px;
}

.logo-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
  
 .logo-name{
  color: #DA924E;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 30px;
 } 


 .nav-li{
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  padding: 0px 10px 10px 10px;
 }
 .nav-li:hover{
  box-shadow: 0px 2px 0px 0px rgb(43, 27, 27);
 }

.form_element{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20%;
  row-gap: 15%;
}

.button-element{
  grid-column-start: 1;
  grid-column-end: 3;
}

.container{
  margin-right: 0px;
  max-width: 1200px;
  height: auto;
  margin-top: 40px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.all-form-div{
max-width: 50%;
height: 25%;
}

.form-image,.form-element{
 max-width:50% ;
 height:auto;

}
.front-image{
  height: auto;
  width: 500px;
  border-radius: 10px;
}

#train_name{
  width: 220px;
  height: 24px;
}
#train_name:active{
  box-shadow: 2px 2px 2px 2px rgba(13, 120, 196, 0.5);
}

.main-container{
  width: 1110px;
  height: auto;
  margin-left: 150px;
}

.button-element{
  text-align: center;
  background-color: rgb(16, 234, 16);
  border: none;
  height: 25px;

}





